<div class="CONTACTOS_btn" align="center">
  <h2>WHATSAPP :</h2>
  <a href="https://wa.me/message/KSWV35VXQQZMF1">
    <img
      src="static/img/Direccion/whatsapp-arg.svg"
      alt="What"
      class="imagen-icon"
    />
  </a>
  <p>+54 9 11 2753-4539</p>
  <br />
  <br />
  <a href="https://wa.me/c/593961940111">
    <img
      src="static/img/Direccion/whatsapp-ecu.svg"
      alt="What"
      class="imagen-icon"
    />
  </a>
  <p>+593 99 899 8947</p>
  <br /><br />
  <h2>TELEGRAM :</h2>
  <a href="https://t.me/elfisicomatematico">
    <img
      src="static/img/Direccion/telegram.svg"
      alt="What"
      class="imagen-icon"
    />
  </a>
  <p>+593 99 899 8947</p>
  <br /><br />
  <h2>UBICACION :</h2>
  <a href="https://maps.app.goo.gl/bTbp5qzesEp2pdmN9">
    <img
      src="static/img/Direccion/Direccion.png"
      alt="What"
      class="imagen-icon_dir"
    />
    <p>ECUADOR - RIOBAMBA - Av. 11 de Noviembre & Av. Canónigo Ramos</p>
  </a>
  <a
    href="https://www.google.com/maps/dir//-1.6543946,-78.6727898/@-1.6546068,-78.6727449,21z/data=!4m2!4m1!3e3?entry=ttu"
  >
    <img
      src="static/img/Direccion/Direccion.png"
      alt="What"
      class="imagen-icon_dir"
    />
    <p>ECUADOR - RIOBAMBA - Av. Canónigo Ramos & Luis Moscoso</p>
  </a>

  <!-- Correo 
  <h2>DEJA TU COMENTARIO O MENSAJE:</h2>
  <form action="enviar_email" method="POST">
    <div class="input-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required />
    </div>
    <div class="input-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="input-mensaje">
      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
    </div>
    <button type="submit">Enviar</button>
  </form>
  -->
</div>

<!-- ----------------------------------------------------------------------------------------- -->
<!-- --------------------------------------- css style --------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------- -->

<style>
  .imagen-icon {
    position: relative;
    width: 17%;
    height: auto;
    cursor: pointer;
  }
  .imagen-icon_dir {
    position: relative;
    width: 50%;
    height: auto;
    cursor: pointer;
    border-radius: 25px;
    border: 5px solid black;
  }

  /* Enviar mensaje a correo*/
  .input-group {
    max-width: 300px;
  }
  .input-mensaje {
    margin-bottom: 15px;
  }
  .input-group label,
  .input-mensaje label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  @media (max-width: 700px) {
    .imagen-icon {
      position: relative;
      width: 70%;
      height: auto;
      cursor: pointer;
    }
    .imagen-icon_dir {
      position: relative;
      width: 80%;
      height: auto;
      cursor: pointer;
    }
  }
</style>
