<div class="contenido-cuerpo">
  <section class="FM_seccion">
    <div class="header">
      <h1 class="titulo">CURSOS, TRABAJOS y PROYECTOS</h1>
    </div>
    <div class="contenido content-list">
      <p><strong> ✍ Física, Matemáticas, Química, Inglés </strong></p>
      <p><strong> ✍ Métodos numéricos </strong></p>
      <p><strong> ✍ Análisis Matemático </strong></p>
      <p><strong> ✍ Cinemática directa e inversa </strong></p>
      <p><strong> ✍ Modelos dinámicos </strong></p>
      <p><strong> ✍ Teoría de control avanzado </strong></p>
      <p><strong> ✍ Automatización de Procesos</strong></p>
      <p><strong> ✍ Robótica teórica</strong></p>
      <p><strong> ✍ Programación Lineal</strong></p>
      <p><strong> ✍ Programación de autómatas</strong></p>
      <p><strong> ✍ Programación en código </strong></p>
    </div>
    <div class="contenido content-images">
      <img
        src="static/img/Fisico/iconos/visual-s-code.png"
        alt=""
        width="55px"
      />
      <img src="static/img/Fisico/iconos/python.png" alt="" width="50px" />
      <img src="static/img/Fisico/iconos/logo c.png" alt="" width="65px" />
      <img src="static/img/Fisico/iconos/html_2.png" alt="" width="40px" />
      <img src="static/img/Fisico/iconos/labview_2.png" alt="" width="50px" />
      <img src="static/img/Fisico/iconos/Matlab.png" alt="" width="55px" />
      <img src="static/img/Fisico/iconos/Scilab_Logo.png" alt="" width="65px" />
      <img src="static/img/Fisico/iconos/PSEINT.png" alt="" width="45px" />
      <img src="static/img/Fisico/iconos/solid.png" alt="" width="45px" />
      <img src="static/img/Fisico/iconos/AutoCAD.png" alt="" width="65px" />
    </div>
    <div class="contenido content-images">
      <img
        src="static/img/Fisico/iconos/arduino-logo.png"
        alt=""
        width="70px"
      />
      <img src="static/img/Fisico/iconos/ABB.png" alt="" width="90px" />
      <img
        src="static/img/Fisico/iconos/Siemens-Logo.png"
        alt=""
        width="100px"
      />
      <img
        src="static/img/Fisico/iconos/Schneider-Electric-Logo.png"
        alt=""
        width="100px"
      />
      <img src="static/img/Fisico/iconos/siemenes.png" alt="" width="160px" />
    </div>
    <div class="contenido content-horarios">
      <h2>HORARIOS</h2>
      <p>- Lunes --> 10:00h a 19:00h</p>
      <p>- Martes a Viernes --> 9:00h a 19:00h</p>
      <p>- Sábado --> 9:30h a 14:00h</p>
      <p>- Dias fuera de horarios planear <strong>reserva</strong></p>
    </div>
    <div class="contenido content-precios">
      <h2>PRECIOS</h2>
      <p>- Escuela & Básico: 5usd la hora</p>
      <p>- Bachiller (Superior): 6usd la hora</p>
      <p>- Universidad Prepo (Superior): 6usd la hora</p>
      <p>- Universidad (Avanzado): 7usd la hora</p>
      <p>- Universidad (PLC - Automatizacion - Programación): 7usd la hora</p>
    </div>

    <div class="planes_horas_meses"></div>

    <h2 class="form-title">Formularios para exámenes</h2>

    <div class="class_machetes" id="id_machetes">
      <a class="form-link" href="formulario"> ☞ FORMULARIOS</a>
    </div>

    <h2 class="form-title">CONTACTOS</h2>

    <div class="class_machetes" id="id_machetes">
      <a class="form-link" href="contactos"> ☞ CONTACTOS</a>
    </div>
  </section>
</div>

<!-- ----------------------------------------------------------------------------------------- -->
<!-- ------------------------------------- css style ----------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------- -->

<style>
  @import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
  .FM_seccion {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
  }

  .header {
    background-color: #29675b;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .titulo {
    color: #fff;
    text-align: center;
    margin: 0;
  }

  .content-list p {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
  }

  .content-list p:hover {
    background-color: #b14444;
  }

  .content-images img {
    margin-right: 10px;
    border-radius: 5px;
    transition: transform 0.2s;
  }

  .content-images img:hover {
    transform: scale(1.1);
  }

  /* planes*/
  #id_contenido_planes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0px 30px;
  }
  .class_cuadro_planes {
    background-color: #15297c;
    gap: 50px;
    margin: 10px auto;
    padding: 10px 30px;
    border: 3px solid black;
    outline: 3px solid red;
    border-radius: 15px;
    width: 95%;
    max-width: 700px;
    color: #8fe3ff;
  }
  .class_contenido_todo_informacion {
    display: flex;
    place-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .class_infos {
    padding: 5px 5px;
    background-color: #8fe3ff;
    color: black;
    border: 3px solid black;
    /*outline: 3px solid red;*/
    border-radius: 10px;
    margin: 10px auto;
  }
  .content-horarios,
  .content-precios {
    padding: 20px;
    border-radius: 5px;
  }
  .img_chicos_estudiando {
    transition: transform 0.2s;
    height: 200px;
    width: auto;
    margin-left: 20px;
  }
  .img_chicos_estudiando:hover {
    transform: scale(1.1);
  }

  .img_horas {
    transition: transform 0.2s;
    height: 100px;
    width: auto;
  }

  .FM_seccion h2 {
    margin-top: 0;
    color: #2e77d0;
    border-bottom: 2px solid #2e77d0;
    padding-bottom: 10px;
  }

  .form-title {
    color: #2e77d0;
    margin-bottom: 10px;
  }

  .class_machetes {
    padding: 10px;
    display: block;
  }

  .form-link {
    background-color: #2e77d0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }

  .form-link:hover {
    background-color: #ca0d16;
    text-decoration: none;
  }

  /* ----------------------------------------------*/
  /* ------------------ CELULAR -------------------*/
  /* ----------------------------------------------*/

  @media (max-width: 700px) {
    #id_contenido_planes {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      width: 90%;
      max-width: 500px;
      margin: 1px 1px 10px 1px;
      padding: 1px 1px 10px 1px;
    }
    .class_cuadro_planes {
      background-color: #15297c;
      margin: 1px 1px 20px 1px;
      padding: 2px;
      border: 3px solid black;
      outline: 3px solid red;
      border-radius: 15px;
      width: 95%;
    }
  }
</style>
