<!-- --------------- javascritps inicio --------------------- -->

<script type="text/javascript">
  function btn_tableros() {
    document
      .querySelector(".class_tableros")
      .classList.toggle("class_tableros-show");
  }
</script>

<!-- --------------------------- html ------------------------- -->
<div class="contenido-cuerpo">
  <section class="FM_seccion">
    <div class="header">
      <h1 class="titulo">PROYECTOS ELÉCTRICOS - ELECTRÓNICOS</h1>
    </div>
    <div class="contenido content-list">
      <div class="nivel-1">
        <p>✍ Automatización de Procesos - PLC / DCS</p>
        <div class="nivel-2">
          <p>
            ✍ Proyectos con controladores lógicos programables y Sistemas de
            control Distribuido
          </p>
        </div>
        <div class="nivel-2">
          <p>✍ Diseño de planos control y Elaboración - Tableros de control</p>
        </div>
      </div>

      <div class="nivel-1">
        <p>✍ Proyectos Eléctricos - AutoCAD / SolidWorks / EPLAN</p>
        <div class="nivel-2">
          <p>
            ✍ Diseño de planos eléctricos e Instalación - Iluminación / Tomas
          </p>
        </div>
        <div class="nivel-2">
          <p>
            ✍ Diseño de planos eléctricos y Elaboración - Tableros eléctricos
          </p>
        </div>
      </div>

      <div class="nivel-1">
        <p>✍ Domótica - ESP32 / M5 STACK/ Alexa</p>
        <div class="nivel-2">
          <p>
            ✍ Programación - Configuración - Instalación de sistemas domóticos
          </p>
        </div>
        <div class="nivel-2">
          <p>
            ✍ Programación - Configuración - Instalación de Cámaras
            inteligentes
          </p>
        </div>
        <div class="nivel-2">
          <p>✍ BMS</p>
        </div>
      </div>

      <div class="nivel-1">
        <p>✍ Proyectos de Aplicaciones Web - NodeJS / Python / Apache</p>
        <div class="nivel-2">
          <p>✍ Diseño y Elaboración de Paginas Web</p>
        </div>
        <div class="nivel-2">
          <p>✍ Diseño y Elaboración de Aplicaciones Web</p>
        </div>
        <div class="nivel-2">
          <p>✍ Proyectos con Database - MySQL / NoSQL / Realtime</p>
        </div>
      </div>

      <div class="nivel-1">
        <p>✍ Programación en código - MATLAB / PYTHON / C++ / LABVIEW</p>
        <div class="nivel-2">
          <p>✍ Sitemas SCADA - control para autómatas</p>
        </div>
      </div>
    </div>

    <div class="contenido content-images">
      <img src="static/img/Fisico/iconos/ABB.png" alt="" width="90px" />
      <img
        src="static/img/Fisico/iconos/Siemens-Logo.png"
        alt=""
        width="100px"
      />
      <img
        src="static/img/Fisico/iconos/Schneider-Electric-Logo.png"
        alt=""
        width="100px"
      />
      <img src="static/img/Fisico/iconos/siemenes.png" alt="" width="160px" />
      <img src="static/img/Fisico/iconos/AutoCAD.png" alt="" width="105px" />
      <img src="static/img/Fisico/iconos/solid.png" alt="" width="55px" />
    </div>

    <div class="header">
      <h1 class="titulo">CAPACITACIONES ACADÉMICAS</h1>
    </div>
    <div class="contenido content-list">
      <p>✍ Física, Matemáticas, Química, Inglés</p>
      <p>✍ Métodos numéricos</p>
      <p>✍ Robótica - Cinemática directa e inversa</p>
      <p>✍ Modelos dinámicos</p>
      <p>✍ Teoría de control avanzado</p>
      <p>✍ Automatización de Procesos - PLC / DCS</p>
      <p>✍ Programación en código - MATLAB / PYTHON / C++ / LABVIEW</p>
    </div>
    <div class="contenido content-images">
      <img
        src="static/img/Fisico/iconos/visual-s-code.png"
        alt=""
        width="55px"
      />
      <img src="static/img/Fisico/iconos/python.png" alt="" width="50px" />
      <img src="static/img/Fisico/iconos/logo c.png" alt="" width="65px" />
      <img src="static/img/Fisico/iconos/html_2.png" alt="" width="40px" />
      <img src="static/img/Fisico/iconos/labview_2.png" alt="" width="50px" />
      <img src="static/img/Fisico/iconos/Matlab.png" alt="" width="55px" />
      <img src="static/img/Fisico/iconos/Scilab_Logo.png" alt="" width="65px" />
      <img src="static/img/Fisico/iconos/PSEINT.png" alt="" width="45px" />
      <img src="static/img/Fisico/iconos/solid.png" alt="" width="45px" />
      <img src="static/img/Fisico/iconos/AutoCAD.png" alt="" width="65px" />
    </div>
    <div class="contenido content-images">
      <img
        src="static/img/Fisico/iconos/arduino-logo.png"
        alt=""
        width="70px"
      />
      <img src="static/img/Fisico/iconos/ABB.png" alt="" width="90px" />
      <img
        src="static/img/Fisico/iconos/Siemens-Logo.png"
        alt=""
        width="100px"
      />
      <img
        src="static/img/Fisico/iconos/Schneider-Electric-Logo.png"
        alt=""
        width="100px"
      />
      <img src="static/img/Fisico/iconos/siemenes.png" alt="" width="160px" />
    </div>

    <h2 class="form-title">Información Académica - Precio & Planes</h2>

    <div class="class_machetes" id="id_machetes">
      <a
        class="form-link"
        onclick="loadContent(`templates/ElFisicoMatematico.html`)"
      >
        ☞ EL FÍSICO MATEMÁTICO</a
      >
    </div>
  </section>
</div>

<!-- ----------------------- css style ----------------------- -->

<style>
  /* ESTILOS CAPACITACIONES*/

  .nivel-1 > p {
    /*font-weight: bold;*/
    color: #000;
  }

  .nivel-2 > p {
    margin-left: 20px; /* Ajusta según prefieras */
    font-style: italic;
    color: #666;
  }

  .FM_seccion {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
  }

  .header {
    background-color: #2e77d0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .titulo {
    color: #fff;
    text-align: center;
    margin: 0;
  }

  .FM_seccion h2 {
    margin-top: 0;
    color: #2e77d0;
    border-bottom: 2px solid #2e77d0;
    padding-bottom: 10px;
  }

  .class_machetes {
    padding: 10px;
  }

  .form-link {
    background-color: #2e77d0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }

  .form-link:hover {
    background-color: #ca0d16;
    text-decoration: none;
  }

  /* ESTILOS TABLEROS */
  .contenido_inicio {
    padding: 10px;
  }

  .class_tableros {
    transform: translate(-700px);
    position: absolute;
  }
  .class_tableros-show {
    background-color: rgba(150, 73, 22, 0.15);
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url("static/img/Einsphi/EINSPHI_proyectos/Inst_electric_portada.png");
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-position: center; /* Esto centrará la imagen en el fondo */
    transform: translate(2px);
    position: relative;
    transition: transform 0.5s ease-in-out;
    padding-top: 10px;
    padding-bottom: 200px;

    /* Propiedades del texto */
    color: #fff; /* Color de texto oscuro */
    font-size: 16px; /* Ajusta según tus necesidades */
    font-weight: bold; /* Establecer el texto en negrita */
    text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.65); /* Sombra de texto blanca */
  }
  .contenido_inicio ul.class_lista_tableros {
    position: relative;
    background: #2f3640;
    opacity: 0.8;
  }
  .class_lista_tableros li:hover > ul {
    display: block;
  }

  @media (max-width: 700px) {
    .contenido_inicio ul.class_lista_tableros {
      display: block;
    }
  }
</style>
